In [2]:
import pandas as pd
df = pd.ExcelFile('../IPE01.xls')
xls = pd.read_excel('../Mastdata.xls')

In [3]:
df1 = pd.read_excel(df, 'Sheet1')

def colfinder(df):
    t = []
    for col in df.columns:
        try: 
            p = xls.loc[xls['Item_Id'] == col]
            some = list(p['Item_Description'].values)[0]
            t.append(some)
        except:
            t.append(col)
    df.columns = t
    new_df = df[df['Areaname'].str.contains(', IA')]
    return new_df

demographics = colfinder(df1)[['Areaname', 'Median household income 2005']].reset_index(drop=True)
demographics

             Areaname  Median household income 2005
0           Adair, IA                         39568
1           Adams, IA                         35296
2       Allamakee, IA                         36822
3       Appanoose, IA                         31764
4         Audubon, IA                         38941
5          Benton, IA                         48713
6      Black Hawk, IA                         40502
7           Boone, IA                         45009
8          Bremer, IA                         46665
9        Buchanan, IA                         43627
10    Buena Vista, IA                         37363
11         Butler, IA                         40738
12        Calhoun, IA                         37575
13        Carroll, IA                         42631
14           Cass, IA                         37900
15          Cedar, IA                         46932
16    Cerro Gordo, IA                         39414
17       Cherokee, IA                         41435
18      Chickasaw, IA                         44023
19         Clarke, IA                         39742
20           Clay, IA                         41087
21        Clayton, IA                         40222
22        Clinton, IA                         41243
23       Crawford, IA                         39573
24         Dallas, IA                         61782
25          Davis, IA                         36823
26        Decatur, IA                         29964
27       Delaware, IA                         43658
28     Des Moines, IA                         40337
29      Dickinson, IA                         44910
..                ...                           ...
69      Muscatine, IA                         43921
70        O'Brien, IA                         40558
71        Osceola, IA                         38587
72           Page, IA                         38701
73      Palo Alto, IA                         36402
74       Plymouth, IA                         47954
75     Pocahontas, IA                         37404
76           Polk, IA                         51959
77  Pottawattamie, IA                         44988
78      Poweshiek, IA                         43686
79       Ringgold, IA                         33334
80            Sac, IA                         37687
81          Scott, IA                         48884
82         Shelby, IA                         42704
83          Sioux, IA                         43441
84          Story, IA                         42414
85           Tama, IA                         45719
86         Taylor, IA                         35835
87          Union, IA                         36916
88      Van Buren, IA                         38792
89        Wapello, IA                         34098
90         Warren, IA                         53329
91     Washington, IA                         42756
92          Wayne, IA                         33788
93        Webster, IA                         39203
94      Winnebago, IA                         39980
95     Winneshiek, IA                         45707
96       Woodbury, IA                         41032
97          Worth, IA                         40842
98         Wright, IA                         41152

[99 rows x 2 columns]

In [4]:
df2 = pd.read_excel(df, 'Sheet2')
df2 = colfinder(df2)['Median household income 2009']
demographics['Median household income 2009'] = df2.values
df3 = pd.read_excel(df, 'Sheet3')
df3 = colfinder(df3)['People of all ages in poverty - number 2009'].values
demographics['All People in poverty- 2009'] = df3
#Finished with this excel sheet.

In [5]:
df4 = pd.read_csv('../annotated.csv')
checker = pd.read_csv('../PopulationIowa.csv')
checker.head()
#df4.head()

              GEO.id                                        Id
0            GEO.id2                                       Id2
1  GEO.display-label                                 Geography
2      HC01_EST_VC01         Total; Estimate; Total population
3      HC01_MOE_VC01  Total; Margin of Error; Total population
4      HC02_EST_VC01          Male; Estimate; Total population

In [11]:
def colfinder2(df):
    t = []
    for col in df.columns:
        try: 
            p = checker.loc[checker['GEO.id'] == col]
            some = list(p['Id'].values)[0]
            t.append(some)
        except:
            t.append(col)
    df.columns = t
    return df
df4 = pd.read_csv('../annotated.csv')
checker = pd.read_csv('../PopulationIowa.csv')

df4 = colfinder2(df4).iloc[:, 2:]
demographics['County Population 2016'] = df4.iloc[:, 1]
df5 = df4[['Geography','Male; Estimate; AGE - 20 to 24 years', 'Male; Estimate; AGE - 25 to 29 years', 'Male; Estimate; AGE - 30 to 34 years']]
df5['Percent Population Male 20 - 34 (2016)'] = df5['Male; Estimate; AGE - 20 to 24 years'] + df5['Male; Estimate; AGE - 25 to 29 years'] + df5['Male; Estimate; AGE - 30 to 34 years']
demographics['Percent Population Male 20 - 34 (2016)'] = df5['Percent Population Male 20 - 34 (2016)'].values
demographics['Population Density'] = [13.5, 9.5, 22.4, 25.9, 13.8, 36.4, 231.7, 46.0, 55.7, 36.7, 35.2, 25.6, 17.0, 36.6, 24.7, 31.9, 77.7, 20.9, 24.7,  21.5,  29.4,  23.3,  70.7, 23.9, 112.4,  17.4,  15.9, 30.7, 96.9, 43.8, 154.0,  26.0,  28.6,  32.6, 18.4,  14.6,  16.4,  24.8, 18.5, 27.2, 19.9, 30.8, 21.4, 46.4, 20.2, 22.6, 16.4, 27.9, 31.2, 50.4, 38.7, 213.1, 35.9, 18.1, 16.0, 69.3, 294.6, 28.3, 20.7, 19.7, 27.9, 39.2, 60.1, 71.0, 34.4, 23.0, 13.3, 18.4, 25.3, 97.7, 25.1, 16.2, 29.8, 16.7, 29.0, 12.7, 750.5, 98.0, 32.3, 9.6, 18.0, 360.7, 20.6, 43.9, 156.3, 24.6, 11.9, 29.6, 15.6, 82.5, 81.1, 38.2, 12.2, 53.1, 27.1, 30.5,     117.1, 19.0, 22.8]
demographics.columns = ['Areaname', 'Median household income 2005',
       'Median household income 2009', 'All People in poverty- 2009',
       'County Population 2016', 'Percent Population Male 20 - 34 (2016)',
       'Population per sq mile']

/Users/slevin886/anaconda2/envs/python3/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Areaname,Median household income 2005,Median household income 2009,All People in poverty- 2009,County Population 2016,Percent Population Male 20 - 34 (2016),Population per sq mile
0,"Adair, IA",39568,47553,768,7330,16.1,13.5
1,"Adams, IA",35296,38191,478,3822,17.2,9.5
2,"Allamakee, IA",36822,44119,1978,14001,15.8,22.4
3,"Appanoose, IA",31764,33663,2411,12602,16.5,25.9
4,"Audubon, IA",38941,45280,586,5793,14.3,13.8
5,"Benton, IA",48713,56592,2089,25720,15.6,36.4
6,"Black Hawk, IA",40502,42753,21437,132821,25.5,231.7
7,"Boone, IA",45009,51678,2088,26411,17.7,46.0
8,"Bremer, IA",46665,54482,1633,24663,19.6,55.7
9,"Buchanan, IA",43627,51052,2231,21031,17.2,36.7
10,"Buena Vista, IA",37363,43864,2809,20445,21.3,35.2
11,"Butler, IA",40738,50400,1452,14933,16.3,25.6
12,"Calhoun, IA",37575,44833,1001,9876,17.8,17.0
13,"Carroll, IA",42631,46086,1965,20555,16.0,36.6
14,"Cass, IA",37900,40358,1772,13433,16.1,24.7
15,"Cedar, IA",46932,52600,1405,18389,15.5,31.9
16,"Cerro Gordo, IA",39414,44494,4496,43303,18.1,77.7
17,"Cherokee, IA",41435,44474,1075,11752,17.4,20.9
18,"Chickasaw, IA",44023,43990,1103,12164,15.6,24.7
19,"Clarke, IA",39742,42384,1068,9273,20.0,21.5
20,"Clay, IA",41087,44294,1476,16478,17.7,29.4
21,"Clayton, IA",40222,43387,1928,17735,14.7,23.3
22,"Clinton, IA",41243,47020,5727,47972,16.8,70.7
23,"Crawford, IA",39573,42916,1967,17147,20.0,23.9
24,"Dallas, IA",61782,71854,3706,78074,19.5,112.4
25,"Davis, IA",36823,42741,1244,8768,15.9,17.4
26,"Decatur, IA",29964,32242,1586,8210,22.6,15.9
27,"Delaware, IA",43658,48574,1571,17445,15.3,30.7
28,"Des Moines, IA",40337,41273,5144,40114,16.6,96.9
29,"Dickinson, IA",44910,50069,1379,17046,15.5,43.8
...,...,...,...,...,...,...,...
69,"Muscatine, IA",43921,48671,5074,42949,19.0,97.7
70,"O'Brien, IA",40558,43292,1249,14055,16.2,25.1
71,"Osceola, IA",38587,42469,570,6154,16.7,16.2
72,"Page, IA",38701,40692,2099,15552,17.7,29.8
73,"Palo Alto, IA",36402,43752,973,9155,17.6,16.7
74,"Plymouth, IA",47954,58440,1708,24972,15.1,29.0
75,"Pocahontas, IA",37404,45593,753,7061,16.7,12.7
76,"Polk, IA",51959,54948,45826,459159,22.5,750.5
77,"Pottawattamie, IA",44988,45769,11485,93198,19.2,98.0
78,"Poweshiek, IA",43686,47337,2111,18622,19.5,32.3
79,"Ringgold, IA",33334,35035,751,5054,14.1,9.6
80,"Sac, IA",37687,44135,1156,10034,15.2,18.0
81,"Scott, IA",48884,50707,20482,171116,20.1,360.7
82,"Shelby, IA",42704,45177,1063,11944,14.0,20.6
83,"Sioux, IA",43441,50978,2097,34621,22.0,43.9
84,"Story, IA",42414,48165,13285,94834,35.8,156.3
85,"Tama, IA",45719,45564,1781,17423,15.4,24.6
86,"Taylor, IA",35835,39727,886,6209,16.1,11.9
87,"Union, IA",36916,41167,1696,12539,17.3,29.6
88,"Van Buren, IA",38792,37544,1347,7380,14.1,15.6
89,"Wapello, IA",34098,39941,5723,35242,20.1,82.5
90,"Warren, IA",53329,60253,3143,48170,17.2,81.1
91,"Washington, IA",42756,49760,2270,22115,16.6,38.2
92,"Wayne, IA",33788,35092,1024,6403,16.1,12.2
93,"Webster, IA",39203,40501,5327,37050,22.0,53.1
94,"Winnebago, IA",39980,44608,1090,10580,17.0,27.1
95,"Winneshiek, IA",45707,48562,1841,20789,21.0,30.5
96,"Woodbury, IA",41032,43820,14689,102426,20.9,117.1
97,"Worth, IA",40842,49371,685,7562,17.0,19.0
98,"Wright, IA",41152,47130,1274,12891,15.7,22.8

In [12]:
demographics.to_csv('../IowaDemographics.csv')